body {
  background-image: url("img/pie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: inherit;
  text-shadow: #f4e842 2px 2px 2px;

}

#name {
  width: 200px;
}

.form-group {
  text-shadow: #f4e842 1px 1px 1px;
}
